#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);

  @media #{$small-and-down} {
    min-width: 80%;
    top: 3%;
  }
  @media #{$medium-only} {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
  @media #{$large-and-up} {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  @extend .z-depth-1;
  border-radius: 16px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width:100%;
  height: 70px;
  line-height: 1.5em;
  background-color: white;
  padding: 10px 25px;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 300;
  @extend .ccb-text, .text-ccb-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;

  .toast-action {
    color: $toast-action-color;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }

  &.rounded{
    border-radius: 24px;
  }

  @media #{$small-and-down} {
    width: 100%;
  }
}
