#calendar {
    overflow: hidden;
    .calendar-header {
        padding: 20px 0 10px;
        height: 20vh;
        h2 {
            padding-left: 20px;
            margin: 0;
            @extend .ccb-text, .text-ccb-dark;
            font-size: 28px;
            display: inline-block;
            height: 25%;
        }
        .calendar-modal {
            position: fixed;
            top: 0;
            background-color: rgba(0,0,0,.25);
            width: 100vw;
            height: 100vh;
            img:not(.icon-modal) {
                border-radius: 24px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                position: absolute;
                top: 45px;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }
            #close-calendar-modal {
                position: absolute;
                padding: 2vw;
                top: 60px;
                right: 0;
                transform: translateX(-50%);
                margin: 0;
                z-index: 1;
            }
        }
        img {
            display: inline-block;
            margin-left: 15px;
        }
        p {
            height: 25%;
            padding-left: 20px;
            margin: 0;
            @extend .ccb-text, .text-ccb-light;
            font-size: 13px;
            font-weight: 600;
        }
        .calendar-filter {
            height: 50%;
        }
    }
    .calendar-main {
        height: 80vh;
        padding: 10px 0 20px 0;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        background-color: #dfdfdf;
        .main-scrollable {
            overflow-y: auto;
            overflow-x: hidden;
            .agenda-row {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                .agenda-event {
                    margin: 0 2vh;
                    position: relative;
                    width: 35vh!important;
                    min-width: 35vh!important;
                    max-width: 35vh!important;
                }
            }
            .agenda-row-small {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                .agenda-event {
                    margin: 0 1vh;
                    position: relative;
                    width: 25vh!important;
                    min-width: 25vh!important;
                    max-width: 25vh!important;
                    .card-title {
                        font-size: 11px;
                    }
                }
            }
            .bookmark-shadow {
                z-index: 1;
                position: absolute;
                @extend .ccb, .ccb-light;
                width: 10px;
                height: 10px;
                top: 2px;
                right: 55px;
                transform: rotate(45deg);
            }
            .favorite-event {
                z-index: 2;
                position: absolute;
                margin: 0 auto;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                background-color: #FFFFFF;
                width: 30px;
                height: 30px;
                top: 0px;
                right: 30px;
                text-align: center;
                .bookmark-icon {
                    position: relative;
                    text-align: center;
                    top: 50%;
                    width: 12px;
                    transform: translateY(-50%);
                }
            }
            .card-categoria {
                position: relative;
                margin: .5rem 0 1rem 0;
                background-color: #fff;
                transition: box-shadow .25s;
                border-radius: 16px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                .card-image {
                    //height: 120px;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
                .card-content {
                    height: 55px;
                    padding: 12px;
                    position: relative;
                    .calendarSmall {
                        padding: 6px;
                        background-color: black;
                        position: absolute;
                        bottom: 50px;
                        z-index: 1;
                        left: 10px;
                        border-radius: 8px;
                        width: 40px;
                        height: 40px;
                        h3, h4 {
                            text-align: center;
                            color: white;
                            margin: 0;
                            font-size: 12px;
                        }
                        h3 {
                            font-weight: 700;
                        }
                        h4 {
                            font-weight: 400;
                        }
                    }
                    span {
                        margin: 0;
                        font-family: $font-stack;
                        padding-bottom: 6px;
                        font-size: 15px;
                        line-height:15px;
                        font-weight: 600;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        //line-height: 45px;
                    }
                }
            }    
        }
        #filter-list-2 a {
            background-color: #dfdfdf;
        }
    }
    .calendar-filter {
        overflow-x: scroll;
        overflow-y: hidden;
        .calendar-filter-list {
            display: flex;
            padding-left: 20px;
            flex-wrap: nowrap;
            li {
                display: inline-block;
                margin: 0 6px;
                a {
                    transition: all .5s;
                    padding: 0 24px;
                    box-shadow: none;
                    font-family: $font-stack;
                    vertical-align: top;
                    display: inline-block;
                    text-align: center;
                    text-transform: none;
                    width: auto;
                    height: 32px;
                    border-radius: 8px;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0;
                    &:not(.ccb-red) {
                        border: 1px solid #999999;
                        color: #999999;
                        background-color: white;
                    }
                    &.big {
                        width: 130px;
                    }
                    &.ccb-red {
                        color: white;
                        border: 1px solid #DB1A21;
                    }
                    &.ccb:not(.ccb-red) {
                        border: 1px solid #DB1A21;
                        color: #DB1A21;
                        background-color: white;
                    }
                }
            }
        }
    }
}