#cartao {
    overflow: hidden;
    .fixed-header {
        background-image: url('../images/waves-grey\ 1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        p {
            text-align: center;
            margin: 40px;
            font-weight: 600;
            font-size: 14px;
            @extend .ccb-text, .text-ccb-dark;
        }
        .ccb-cards {
            text-align: center;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            padding: 5px;
            font-size: 24px;
            @extend .ccb-text, .text-ccb-dark;
        }
    }
    .accordion-container {
        overflow: auto;
        padding: 0 20px;
        .collapsible {
            border-radius: 8px;
            margin: 15px 0;
            border: 0;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
            li {
                transition: border-radius .5s;
                border-radius: 8px;
                &.active {
                    .collapsible-header {
                        border-top-right-radius: 8px;
                        border-top-left-radius: 8px;
                        .arrow {
                            transform: rotate(90deg);
                        }
                    }
                    .collapsible-body {
                        border-bottom-right-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }
                }
                &:not(.active) {
                    .collapsible-header {
                        border-radius: 8px;
                    }

                }
                .collapsible-header {
                    padding: 18px;
                    transition: border-radius .5s;
                    border: 0;
                    @extend .ccb-text, .text-ccb-gray;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $font-stack;
                    img {
                        &:not(.arrow) {
                            padding-right: 15px;
                        }
                        &.arrow {
                            transition: all .5;
                            opacity: .5;
                            position: absolute;
                            width: 12px;
                            right: 50px;
                            transform: rotate(270deg);
                        }
                    }
                }
                .collapsible-body {
                    padding: 1px 14px 7px 14px;
                    transition: border-radius .5s;
                    border: 0;
                    background-color: white;
                    span {
                        display: block;
                        margin: 7px 0;
                        @extend .ccb-text, .text-ccb-dark;
                        font-size: 12px;
                        font-weight: 400;
                        font-family: $font-stack;
                    }
                }
            }
        }
    }
    .cartao-footer {
        margin-bottom: 125px;
        padding: 0 20px;
        a {
            font-family: $font-stack;
            display: block;
            text-align: center;
            text-transform: none;
            width: 100%;
            height: 48px;
            line-height: 48px;
            border-radius: 8px;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0;
            color: white;
        }
    }
}