#evento {
    background-image: url('../images/evento_image.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    .evento-back {
        position: fixed;
        top: 0;
        margin: 20px 10px;
        font-size: 50px;
        width: 30px;
        height: 22px;
        color: white;
        //position: fixed;
        //top: 0;
        //margin: 10px;
        //font-size: 50px;
        //width: 50px;
        //height: 50px;
        //color: white;
    }
    .evento-container {
        background-color: white;
        position: relative;
        top: 35vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100vw;
        height: fit-content;
        &::before {
            @extend .ccb, .ccb-dark;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 40px;
            height: 4px;
            border-radius: 100px;
        }
        .evento-header {
            padding: 30px 20px 20px 20px;
            h2 {
                @extend .ccb-text, .text-ccb-dark;
                margin: 0;
                img {
                    position: absolute;
                    right: 30px;
                    top: 40px;
                    width: 20px;
                }
            }
            p {
                font-size: 15px;
                font-weight: 600;
                &.header-date {
                    @extend .ccb-text, .text-ccb-gray;
                    margin: 15px 0 0 0;
                }
                &.header-hour {
                    @extend .ccb-text, .text-ccb-light;
                    margin: 5px 0 0 0;
                }
                &.header-place {
                    margin: 7px 0 0 0;
                    color: #147899;
                    img {
                        vertical-align: top;
                        padding: 0 10px;
                    }
                }
            }
            .user-attend {
                position: absolute;
                top: 100px;
                right: -45px;
                text-align: right;
                p {
                    @extend .ccb-text, .text-ccb-light;
                    font-size: 11px;
                    font-family: $font-stack;
                    display: block;
                    text-align: left;
                    letter-spacing: 1px;
                    margin: 5px 0;
                    position: relative;
                    left: -25px;
                }
                img {
                    vertical-align: top;
                    &:nth-child(1) {
                        position: relative;
                        top: 6px;
                        z-index: 2;
                    }
                    &:nth-child(2) {
                        position: relative;
                        left: -23px;
                        z-index: 1;
                    }
                    &:nth-child(3) {
                        position: relative;
                        left: -65px;
                    }
                }
            }
        }
        .evento-main {
            height: 30vh;
            overflow: auto;
            .sub-container {
                font-size: 0;
                padding: 0 20px;
                position: relative;
                h3 {
                    @extend .ccb-text, .text-ccb-dark;
                    padding-bottom: 20px;
                    font-size: 24px;
                }
                p {
                    @extend .ccb-text, .text-ccb-dark;
                    font-size: 15px;
                }
                img {
                    position: absolute;
                    right: 15px;
                    margin-top: 20px;
                    padding: 0 0 40px;
                }
                &.footer {
                    position: fixed;
                    bottom: 0;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    padding: 30px 20px;
                    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
                    .session-finish {
                        vertical-align: top;
                        @extend .ccb-text, .text-ccb-dark;
                        font-size: 20px;
                        font-weight: 400;
                        width: calc( 100% - 88px );
                        display: inline-block;
                        text-align: left;
                        margin: 0;
                        line-height: 32px;
                    }
                    a {
                        vertical-align: top;
                        display: inline-block;
                        text-align: center;
                        text-transform: none;
                        width: 88px;
                        height: 32px;
                        border-radius: 8px;
                    }
                }
            }
        }
        .evento-footer {
            .sub-container {
                font-size: 0;
                padding: 0 20px;
                &.footer {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    padding: 30px 20px;
                    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
                    font-size: 0;
                    .session-finish {
                        vertical-align: top;
                        @extend .ccb-text, .text-ccb-dark;
                        font-size: 14px;
                        font-weight: 400;
                        width: 50%;
                        display: inline-block;
                        text-align: left;
                        margin: 0;
                        line-height: 15px;
                        margin-bottom: 20px;
                    }
                    p {
                        vertical-align: top;
                        @extend .ccb-text, .text-ccb-red;
                        font-size: 14px;
                        font-weight: 400;
                        width: 50%;
                        display: inline-block;
                        text-align: right;
                        margin: 0;
                        line-height: 15px;
                        margin-bottom: 20px;
                    }
                    a {
                        font-family: $font-stack;
                        display: block;
                        text-align: center;
                        text-transform: none;
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        border-radius: 8px;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}