.ccb-footer {
    position: fixed;
    bottom: 0;
    padding: 32px 16px;
    .flex {
        background-color: white;
        padding: 0 6%;
        gap: 5%;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 6px auto;
        height: 75px;
        width: calc( 100vw - 32px );
        align-items: center;
        justify-content: space-around;
        .special {
            transition: left 1s ease-in-out;
            grid-column: 1 / 5;
            position: relative;
            background-color: rgb(250,250,250);
            top: 0px;
            transform: translateX(-50%);
            height: 6px;
            width: 62px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.07);
            &.first {
                left: 11%;  
            }
            &.second {
                left: 37%;
            }
            &.third {
                left: 63%;
            }
            &.fourth {
                left: 89%;
            }
            &::after {
                @extend .ccb, .ccb-red;
                content: '';
                position: absolute;
                top: -2px;
                left: 15%;
                height: 3px;
                border-radius: 100px;
                width: 42px;
            }
        }
        .menu-option {
            /* border: 1px solid red; */
            position: relative;
            text-align: center;
            align-content: center;
            height: 100%;
            grid-row: 2 / 3;
            .option-container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: max-content;
                transform: translate(-50%, -60%);
                .menu-image {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 3px;
                }
                p {
                    // transition: color 1s;
                    display: block;
                    margin: 0 !important;
                    overflow-wrap: normal;
                    font-size: 10px;
                }
                &.active {
                    .menu-image, p, img {
                        @extend .ccb-text, .text-ccb-red;
                    }
                }
                &:not(.active) {
                    p {
                        @extend .ccb-text, .text-ccb-light;
                    }
                }
            }
        }
    }  
}

.bg-calendar_hover {
    width: 24px; height: 24px;
    background: url('../svg/ccb_sprites.png') -10px -10px;
}

.bg-perfil_hover {
    width: 23px; height: 24px;
    background: url('../svg/ccb_sprites.png') -98px -10px;
}

.bg-cartao_hover {
    width: 24px; height: 24px;
    background: url('../svg/ccb_sprites.png') -54px -10px;
}

.bg-inicio_hover {
    width: 22px; height: 23px;
    background: url('../svg/ccb_sprites.png') -10px -98px;
}

.bg-perfil {
    width: 23px; height: 24px;
    background: url('../svg/ccb_sprites.png') -98px -54px;
}

.bg-inicio {
    width: 22px; height: 23px;
    background: url('../svg/ccb_sprites.png') -52px -98px;
}

.bg-cartao {
    width: 24px; height: 24px;
    background: url('../svg/ccb_sprites.png') -10px -54px;
}

.bg-calendar {
    width: 24px; height: 24px;
    background: url('../svg/ccb_sprites.png') -54px -54px;
}