body {
    overflow: auto;
    background-color:#f0f0f0;
}

.ccb-main {
    position: absolute;
    top: 0;
    overflow: auto;
    width: 100%;
}

.ccb-footer, .ccb-footer .flex {
    z-index: 20;
}

.calendar-modal {
    z-index: 21;
}

.toast {
    padding-left: 100px;
    &::before {
        content: '';
        background-image: url('../images/musica/6.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60px;
        max-width: 60px;
        border-radius: 8px;
        height: 40px;
        max-height: 40px;
        position: absolute;
        left: 20px;
    }
    &::after {
        content: '';
        background-image: url('../svg/icons/green_check.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        max-width: 25px;
        height: 25px;
        max-height: 25px;
        position: absolute;
        right: 20px;
    }
}