.container-explorar {
    margin: 0 auto;
    header
    {  
        display: flex;
        font-size: 0;
        width:100%;
        padding:20px;
        .logo {
            width: 75px;
            text-align: left;
            //margin-top: 40px;
        }
        ul {
            //width:70%; border: 1px solid red;
            text-align:right;
            display:flex;
            justify-content: flex-end;
            width: 100%;
            li {
                margin: 0 0 0 10px;
                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 10px;
                    
                }
                .notify{
                    position: absolute;
                    @extend .ccb, .ccb-red;
                    height: 9px;
                    top: 30px;
                    right: 77px;
                    width: 9px;
                    z-index: 2;
                    text-align: center;
                    border-radius: 50%;
                    }
                
                
            }
        }
    }
    h1 {
        font-weight: normal;
        @extend .ccb-text, .text-ccb-dark;
        text-align:center;
        font-family: $font-stack;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px; 
    }
    .card-ccb {
        width:100%;
        position:relative;
        .img-card {
            border-radius: 10px;
            height: 175px;
            background-color: #C4C4C4; 
            margin-top: 20px;
            box-shadow: 0 6px 6px 0 rgba(0,0,0,0.14), 0 10px 10px -2px rgba(0,0,0,0.12), 0 1px 10px 0 rgba(0,0,0,0.2);
        }
        p {
            font-family: $font-stack;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 10px;
            text-align: center;
            @extend .ccb-text, .text-ccb-dark;
            position: absolute;
            right: 30px;
            bottom: 10px;
        }
    }
    .img-evento {
        position: relative;
        text-align: center;
        padding: 10px 20px;
        &::before {
            content: url("../svg/GoToLeft-white2.svg");
            z-index: 1;
            //width: 20px;
            //height: 20px;  
            margin: 0 auto;
            position: absolute;
            top: 45%;
            left: 40px;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: url("../svg/GoToRight-white.svg");
            z-index: 1;
            margin: 0 auto;
            position: absolute;
            top: 45%;
            right: 26px;
            transform: translate(-50%, -50%);
        }
        .focus-event{
            width: 100%;
            height: 274px;
            border-radius: 16px;
            opacity: 85%;
        }
        .ticket {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 0px;
            text-align: center;
            position: absolute;
            padding: 10px 20px;
            .avatar-ticket {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                width: 100%;
                height: 60px;
                border-radius: 10px;
                background-color: #fff;  
                h2{
                    font-family: $font-stack;
                    font-style: bold;
                    font-size: 16px;
                    padding-top: 10px;
                    margin: 0;
                }
                p {
                    font-family: $font-stack;
                    font-style: normal;
                    font-size: 13px;
                    padding-top: 5px;
                    margin: 0;
                    text-align: center;
                    @extend .ccb-text, .text-ccb-dark;
                    }   
            }
        
        }
    }
    .categories{
        margin:0 auto;
        margin-top: 20px;
        font-size:0;
        .line{
            //background-color:red;
            display: flex;
            margin: 0;
            justify-content: space-around;
            .box-category{
                width:164px;
                height: 130px;
                border-radius: 16px;
                background-color:#C4C4C4;   
            }
            p {
                font-family: $font-stack;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                margin: 15px 0;
                text-align: center;
                @extend .ccb-text, .text-ccb-dark;
                margin-bottom: 10px;
            }
            img {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            }
            &:last-child {
                //background-color:red;
                margin-bottom:130px;
            }
        }
    }
}

