.container-music{
    margin: 0 auto;
    header
    {  
        display: flex;
        font-size: 0;
        width:100%;
        padding:20px;
        .arrow {
            width: 80%;
            text-align: left;
            //margin-top: 40px;
        }
    }   
   .menu-categorias{
    overflow-x: hidden;
    padding: 10px 20px 20px;
    .calendar-filter {
        overflow-x: scroll;
        .calendar-filter-list {
            display: flex;
            flex-wrap: nowrap;
            li {
                display: inline-block;
                margin: 0 10px 0 0;
                a {
                    transition: all .5s;
                    padding: 0 24px;
                    box-shadow: none;
                    font-family: $font-stack;
                    vertical-align: top;
                    display: inline-block;
                    text-align: center;
                    text-transform: none;
                    width: auto;
                    height: 32px;
                    border-radius: 8px;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0;
                    &:not(.ccb-red) {
                        border: 1px solid #999999;
                        color: #999999;
                        background-color: white;
                    }
                    &.big {
                        width: 130px;
                    }
                    &.ccb-red {
                        color: white;
                    }
                    &.ccb:not(.ccb-red) {
                        border: 1px solid #DB1A21;
                        color: #DB1A21;
                        background-color: white;
                    }
                }
            }
        }
    }
   } 

        .categories{
        margin:0 auto;
        //margin-top:40px;
        font-size:0;
                h1{
                @extend .ccb-text, .text-ccb-dark;
                font-family: $font-stack;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 34px;

                margin: 10px 20px;
                }

                .col {
                    position: relative;
                }
               
            .box-category{
                width:164px;
                height:120px;
                border-radius: 16px 16px 0 0;
                margin-bottom:30px; 
                }
                .bookmark-shadow {
                    z-index: 1;
                    position: absolute;
                    @extend .ccb, .ccb-light;
                    width: 10px;
                    height: 10px;
                    top: 2px;
                    right: 55px;
                    transform: rotate(45deg);
                }
                .favorite-event {
                    z-index: 2;
                    position: absolute;
                    margin: 0 auto;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    background-color: #FFFFFF;
                    width: 30px;
                    height: 30px;
                    top: 0px;
                    right: 30px;
                    text-align: center;
                    .bookmark-icon {
                        position: relative;
                        text-align: center;
                        top: 50%;
                        width: 12px;
                        transform: translateY(-50%);
                    }
                }
           
                .card-categoria {
                    position: relative;
                    margin: .5rem 0 1rem 0;
                    background-color: #fff;
                    transition: box-shadow .25s;
                    border-radius: 16px;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                    
                    .card-image {
                        //height: 120px;
                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;
                    }
                    .card-content {
                        height: 80px;
                        padding: 28px 12px;
                        position: relative;
                        .calendarBig {
                            padding: 6px;
                            background-color: black;
                            position: absolute;
                            bottom: 70px;
                            z-index: 1;
                            left: 10px;
                            border-radius: 8px;
                            width: 40px;
                            height: 40px;
                            h3, h4 {
                                text-align: center;
                                color: white;
                                margin: 0;
                                font-size: 12px;
                            }
                            h3 {
                                font-weight: 700;
                            }
                            h4 {
                                font-weight: 400;
                            }
                        }
                        .calendarSmall {
                            padding: 6px;
                            background-color: black;
                            position: absolute;
                            bottom: 70px;
                            z-index: 1;
                            left: 10px;
                            border-radius: 8px;
                            width: 40px;
                            height: 40px;
                            h3, h4 {
                                text-align: center;
                                color: white;
                                margin: 0;
                                font-size: 12px;
                            }
                            h3 {
                                font-weight: 700;
                            }
                            h4 {
                                font-weight: 400;
                            }
                        }
                        span {
                            margin: 0;
                            font-family: $font-stack;
                            font-size: 15px;
                            line-height:15px;
                            font-weight: 600;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            //line-height: 45px;
                        }
                    }
                }           

            .margin-bottom{
                margin-bottom:130px;
            }
        
        }
    }

    



