.container-notificacoes{
    margin: 0 auto;
    header
    {  
        display: flex;
        font-size: 0;
        width:100%;
        padding:20px;
        .arrow {
            width: 80%;
            text-align: left;
            //margin-top: 40px;
        }
    }   

        .categories{
        margin:0 auto;
        font-size:0;
            
                h1{
                @extend .ccb-text, .text-ccb-dark;
                font-family: $font-stack;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 34px;
                margin: 10px 20px;

                
                    
                    &::after  {                                  
                    /* transform: translate(-50%, -50%); */
                    content:'2';
                    font-family: $font-stack;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    color:white;
                    line-height: 20px;
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    @extend .ccb, .ccb-red;
                    margin: 10px;
                    border-radius: 50%;
                    position: absolute;
                    }
                
                }
                h2{
                    font-family: $font-stack;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    margin: 10px 20px 0px 20px;
                    color: #999999;
                }

                h3{
                    font-family: $font-stack;
                    font-style: normal;
                    font-size: 13px;
                    //line-height: 16px;
                    text-align: right;  
                    color: #999999;
                    margin: 0;
                    padding: 5px 10px;                        
                }

                .img-notificacoes {
                    position: relative;
                    text-align: center;
                    padding: 10px 20px;
                    .focus-event{
                        width: 100%;
                        height: 137px;
                        border-radius: 16px;
                        opacity: 85%;
                    }
                    &:last-child {
                        //background-color:red;
                        margin-bottom:25px;
                    }
                    
                    .ticket {
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        bottom: 0px;
                        text-align: center;
                        position: absolute;
                        padding: 10px 20px;
                        
                        .avatar-ticket {
                            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                            width: 100%;
                            height: 44px;
                            border-radius: 10px;
                            background-color: #fff;  

                            .ball-notification {
                                content: '';                                    
                                position: absolute;
                                left: 33px;
                                top: 28px;
                                /* transform: translate(-50%, -50%); */
                                height: 10px;
                                width: 10px;
                                @extend .ccb, .ccb-red;
                                border-radius: 50%;
                                }
                            p {
                                font-family: $font-stack;
                                font-style: normal;
                                font-size: 13px;
                                text-align: left;
                                position: absolute;
                                padding-left: 35px;
                                @extend .ccb-text, .text-ccb-dark;
                                }   
                                
                            } 
                        } 
                    } 

        }       
}

    



