// #test-swipe-1, #test-swipe-2, #test-swipe-3 {
//      height: 100%;
// }

#test-swipe-1 {
    img {
        width: 100vw;
        height: 100vh;
    }
    .first-heading {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 88px;
        text-align: right;
        margin: 90px 10px 0 0;
        line-height: 70px;
        font-weight: 600;
        text-shadow: 4px 8px 0px #164770;
    }
    .second-heading {
        font-size: 24px;
        text-align: center;
        width: 95%;
        line-height: 35px;
        position: absolute;
        top: 60vh;
        left: 50%;
        font-weight: 700;
        transform: translateX(-50%);
        color: white;
    }
}
#test-swipe-2 {
    img {
        width: 100vw;
        height: 100vh;
    }
    .first-heading {
        position: absolute;
        top: 20px;
        width: 100%;
        color: #F99E87;
        font-size: 88px;
        text-align: center;
        margin: 90px 10px 0 0;
        line-height: 70px;
        font-weight: 600;
        text-shadow: 4px 8px 0px #FFFFFF;
    }
    .second-heading {
        font-size: 24px;
        text-align: center;
        width: 95%;
        line-height: 35px;
        position: absolute;
        top: 60vh;
        left: 50%;
        font-weight: 700;
        transform: translateX(-50%);
        color: white;
    }
}
#test-swipe-3 {
    img {
        width: 100vw;
        height: 100vh;
    }
    .first-heading {
        position: absolute;
        top: 20px;
        width: 100%;
        color: #7BCECF;
        font-size: 88px;
        text-align: left;
        margin: 90px 0 0 10px;
        line-height: 70px;
        font-weight: 600;
        text-shadow: 4px 8px 0px #164870;
    }
    .second-heading {
        font-size: 24px;
        text-align: center;
        width: 95%;
        line-height: 35px;
        position: absolute;
        top: 60vh;
        left: 50%;
        font-weight: 700;
        transform: translateX(-50%);
        color: white;
    }
}

.onboarding-footer-button {
    position: absolute;
    bottom: 6vh;
    width: 100%;
    .start-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 45px;
        width: 200px;
        height: 50px;
        color: white;
        font-weight: 600;
        border: 2px solid white;
        border-radius: 8px;
        font-family: $font-stack;
        font-size: 15px;
    }
}

.onboarding-footer-skip {
    position: absolute;
    top: 6vh;
    width: 100%;
    padding: 0 10px;
    text-align: right;
    .start-button {
        text-align: center;
        @extend .ccb-text, .text-ccb-red;
        border-radius: 8px;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: 400;
    }
}

.onboarding-screen {
    h2 {
        color: white;
        text-align: center;
        font-size: 3.5vh;
        font-weight: 400;
        &.first-heading {
            // margin: 85px 0 30px 0;
            margin: 6vh 0 4vh 0;
        }
        &.second-heading {
            // margin: 35px 0;
            margin: 4vh 0;
        }
    }
    .onboarding-illustration {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 43vh;
    }
}

.onboarding-footer {
    position: absolute;
    bottom: 6vh;
    ul {
        width: 100vw;
        height: 25px;
        font-size: 0;
        li {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            h4 {
                text-align: center;
                color: white;
                font-weight: 400;
                margin: 0;
                position: relative;
                top: -3px;
            }
            .tabs {
                font-size: 0;
                text-align: center;
                background-color: transparent!important;
                position: fixed!important;
                z-index: 10!important;
                width: 50%!important;
                height: 25px!important;
                .center-circles {
                    text-align: center;
                }
                .indicator {
                    display: none!important;
                }
                .tab {
                    flex-grow: 0!important;
                    height: 25px!important;
                    &:not(:nth-child(2)) {
                        width: calc( 50% - 20px );
                    }
                    &:nth-child(1) {
                        text-align: right;
                    }
                    &:nth-child(3) {
                        text-align: left;
                    }
                    a {
                        padding: 0!important;
                        margin: 0 15px!important;
                        flex-grow: 0!important;
                        vertical-align: top;
                        display: inline-block;
                        margin: 0 15px;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 2px solid white;
                        width: 10px!important;
                        height: 10px!important;
                        &.active {
                            background-color: white!important;
                        }
                    }
                }
            }
        }
    }
}