#perfil {
    background-image: url('../images/marta_sacadura.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100%;
    .overlay-container {
        background-color: white;
        position: relative;
        top: 55vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100vw;
        height: fit-content;
        &::before {
            @extend .ccb, .ccb-dark;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 40px;
            height: 4px;
            border-radius: 100px;
        }
        .evento-header {
            padding: 30px 20px 20px 20px;
            h2 {
                @extend .ccb-text, .text-ccb-dark;
                margin: 0;
            }
            p {
                @extend .ccb-text, .text-ccb-light;
                margin: 5px 0 0 0;
            }
        }
        .evento-main {
            height: 60vh;
            overflow: scroll;
            .sub-container {
                padding: 0 20px 50px;
                h4:not(.session-finish) {
                    @extend .ccb-text, .text-ccb-dark;
                    padding-left: 10px;
                    margin: 0 0 20px 0;
                }
                .session-finish {
                    @extend .ccb-text, .text-ccb-red;
                    font-weight: 400;
                    text-align: center;
                }
                .click-option {
                    font-size: 0;
                    width: 100%;
                    height: 50px;
                    &:not(:first-of-type) {
                        margin-top: 10px;
                    }
                    .prev-icon {
                        text-align: center;
                        vertical-align: top;
                        background-color: rgba(196, 196, 196, 0.1);
                        width: 50px;
                        height: 50px;
                        display: inline-block;
                        border-radius: 8px;
                        img {
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                            // opacity: .5;
                        }
                    }
                    p:not(.text-link) {
                        vertical-align: top;
                        @extend .ccb-text, .text-ccb-gray;
                        margin: 0;
                        padding-left: 25px;
                        font-size: 16px;
                        display: inline-block;
                        text-align: left;
                        width: calc( 100% - 30px - 50px );
                        line-height: 50px;
                        &.with-switch {
                            width: calc( 100% - 50px - 100px );
                        }
                        &.with-text {
                            width: calc( 100% - 50px - 15% );
                        }
                        &.new-label {
                            position: relative;
                            &::after {
                                content: 'NOVO!';
                                color: #DB1A21;
                                font-size: 14px;
                                position: absolute;
                                top: -10px;
                                left: 165px;
                            }
                        }
                    }
                    .text-link {
                        vertical-align: top;
                        @extend .ccb-text, .text-ccb-red;
                        margin: 0;
                        font-size: 16px;
                        display: inline-block;
                        text-align: center;
                        font-weight: 300;
                        width: 15%;
                        line-height: 50px;
                    }
                    .switch {
                        position: relative;
                        top: 50%;
                        transform: translateY(-60%);
                        display: inline-block;
                        width: 100px;
                        text-align: right;
                    }
                    .arrow-icon {
                        display: inline-block;
                        opacity: .75;
                        text-align: right;
                        width: 12px;
                        height: 50px;
                    }
                }
            }
        }
    }
}